@import "../../globals";

.outreach {
	.intro {
		// height: 20vh !important;
		// margin-bottom: 10rem;

		.content {
			.wrapper {
				width: 100%;
				// height: 100%;
				padding-left: 3em;
				display: flex;
				flex-direction: column;
				justify-content: center;

				h1 {
					font-size: 65px;
					margin: 10px 0;
					color: white;
					position: relative;

					.frc2338-title {
						display: inline-block;

						@media (max-width: 927px) {
							margin-bottom: 0;
						}
					}
				}

				h2 {
					font-size: 40px;
					color: #fe5000;
					position: relative;
				}

				h3 {
					font-size: 30px;
					color: #fe5000;
					position: relative;
					margin: 10px;

					span {
						margin-top: 10px;
						color: white;
					}
				}
			}
			.left {
				flex: 0.6 1;
				overflow: hidden;
				justify-content: center;
				display: flex;
				margin-top: $introSectionPadding;
			}

			.right {
				margin-left: 3rem;
			}
		}
	}

	.about-outreach {
		// margin-top: 7.5rem;
		max-width: 95%;
		margin: auto;

		@media (max-width: 927px) {
			margin-top: 5rem;
		}

		.content {
			display: flex;
			justify-content: center;
			// margin-left: 50px;

			@media (max-width: 927px) {
				flex-direction: column;
				margin-left: 0;
			}

			.left {
				flex: 0.68 1;
				// margin-left: 1rem;
				padding-right: 1rem;

				@media (max-width: 927px) {
					margin-left: 0;
					padding-right: 0;
					text-align: center;
				}

				.title {
					font-size: 33px;
					font-weight: 400;

					@media (max-width: 927px) {
						font-size: 28px;
						margin-top: 3rem; /* Add two lines worth of empty space above the title on mobile */
					}

					span {
						color: $orange;
						font-weight: 300;
					}

					.question-mark {
						font-size: 25px;
						font-weight: 100;
						margin-left: 2px;
					}
				}
			}

			.right {
				display: grid;
				align-items: center;

				@media (max-width: 927px) {
					padding-top: 1rem;
					text-align: center;
				}

				img {
					border: 0.8px solid $orange;
					border-radius: 8px;
					max-width: 100%;

					@media (max-width: 927px) {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}

	.upcoming-events {
		margin-left: 16rem;
		margin-right: 16rem;

		@media (max-width: 927px) {
			margin-left: 1rem;
			margin-right: 1rem;
		}

		.event-header {
			font-weight: 400;
			font-size: 33px;
			padding-bottom: 1.5rem;

			@media (max-width: 927px) {
				font-size: 28px;
				text-align: center;
			}

			span {
				font-size: 33px !important;
			}
		}

		.row {
			background-color: $offblue;
			border-radius: 20px;
			border: 1px solid $orange;
			display: grid;
			grid-template-columns: 1fr 1fr;
			text-align: center;

			@media (max-width: 927px) {
				margin-bottom: 1rem;
			}
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		.column {
			// float: left;
			// width: 50%;
			// padding: 17px;
			// text-align: center;

			// @media (max-width: 927px) {
			// 	width: 100%;
			// 	float: none;
			// }

			.event-title {
				font-size: 20px;
				font-weight: 300;
				padding-bottom: 10px;
				padding-top: 10px;
			}

			.date {
				font-size: 20px;
				font-weight: 500;
				padding-bottom: 10px;
				padding-top: 10px;
			}
		}
	}

	.projects {
		.content {
			// margin-left: 16rem;
			// margin-right: 16rem;
			width: 85%;
			margin: 0 auto;

			@media (max-width: 927px) {
				// margin-left: 1rem;
				// margin-right: 1rem;
				width: 98%;
			}

			.title {
				margin-bottom: 1.5rem;

				h2 {
					font-size: 33px;
					font-weight: 400;

					@media (max-width: 927px) {
						font-size: 28px;
					}
				}
			}

			.box {
				display: flex;
				padding: 2rem 0rem 2rem 2rem;
				margin-bottom: 4rem;
				background: $offblue;
				border-radius: 3vh;
				border: 1px solid $orange;

				@media (max-width: 927px) {
					flex-direction: column;
					padding: 1rem;
				}

				.left {
					flex: 0.9 1;
					margin: 2rem;

					@media (max-width: 927px) {
						margin: 1rem 0;
					}

					.title {
						font-size: 2rem;

						@media (max-width: 927px) {
							font-size: 1.75rem;
						}
					}

					.description {
						font-size: 1.5rem;
						font-weight: 300;
						color: $grey;

						@media (max-width: 927px) {
							font-size: 1.25rem;
						}

						div {
							color: $grey;
						}

						a {
							color: $orange;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				.right {
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						border-radius: 8px;
						width: 300px;
						height: 250px;

						@media (max-width: 927px) {
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
}
