@import "../../../globals";

.dt {
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;


    .l1 {
        height: 100vh;
        width: 100%;
        padding-left: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .left {
            flex: 0.5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            svg {
                position: absolute;
                padding-right: 5vw;
                opacity: 0.125;
                scale: 1.5;
            }

            h2 {
                font-weight: 600;
                margin: 5px 0;
                padding: 3px;
                font-size: 10vh;
                position: relative;
                color: $offwhite;
            }

            p {
                font-size: 1.25rem;
                font-weight: 300;
            }
        }

        .right {
            flex: 0.5;
            overflow: hidden;
            display: flex;
            justify-content: center;

            .group {
                scale: 0.5;
                position: relative;
                border-radius: 0.5rem;
            }
        }
    }
}