@import "../../globals";

.null {

    a {
        color: $offwhite;
        font-weight: 500;
        transition: .3s ease;
        text-decoration: underline;
    }

    .Content {
        height: 80vh;
        display: flex;
        flex-direction: row;
        margin-bottom: 3vh;

        .left {
            flex: 0.5;
            overflow: hidden;
            justify-content: center;
            position: relative;
            align-items: center;
            display: flex;

            .youtube {
                display: block;
            }
        }

        .right {
            flex: 0.5;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            align-items: center;
            margin-bottom: 2vh;

            .wrapper {
                .mini {
                    font-size: 2.5rem;
                    color: $offwhite;
                    padding: 1vh;
                }

                .extraMini {
                    font-size: 1.15rem;
                    font-weight: 300;
                    color: $grey;
                    line-height: 3em;
                }

                svg {
                    position: absolute;
                    padding-right: 5vw;
                    opacity: 0.125;
                    scale: .97;
                }
            }

            .buttons {
                .db {
                    margin-top: 2vw;
                    margin-left: 1vw;
                    margin-right: 1vw;
                }
            }
        }
    }
}

@media (max-width: 927px) {
    .currBot {
    
        .Content {
            height: 80vh;
            display: flex;
            flex-direction: row;
            margin-bottom: 3vh;
    
            .left {
                flex: 0.5;
                overflow: hidden;
                justify-content: center;
                position: relative;
                align-items: center;
                display: flex;
    
            .right {
                flex: 0.5;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: center;
                align-items: center;
                margin-bottom: 2vh;
    
                .wrapper {
                    .mini {
                        font-size: 2.5rem;
                        color: $offwhite;
                        padding: 1vh;

                            padding:4vh 1vh;
                            margin-top: 2vh;
                            margin-bottom: 2vh;                     
                    }
    
                    .extraMini {
                        font-size: 1.15rem;
                        font-weight: 300;
                        color: $grey;
                        line-height: 3em;
                        padding: 2vh 0;

                        .extraDad {
                            font-size: 1.25rem;
                            font-weight: 300;
                            color: $grey;
                            line-height: 3em;
                            padding: 2vh 0;

                    }
                    svg {
                        position: absolute;
                        padding-right: 5vw;
                        opacity: 0.125;
                        scale: .97;
                    }
                }
    
                .buttons {
                    .db {
                        margin-top: 2vw;
                        margin-left: 1vw;
                        margin-right: 1vw;
                        margin-bottom: 2vw;
                    }
                }
            }
        }
    }
    } 
}
}