@import "../../globals";

.sponsor {
	.sponsors {
		margin-top: 8rem;
		margin: 4vh;
		padding-top: 1rem;

		.bo {
			background-color: $offblue;
			border-radius: 5vh;
			border: 1px solid $orange;
			margin-bottom: 5vh;
		}
	}

	.section {
		// height: 40vh;
		// padding-left: 6rem;
		// padding-top: 5vh;

		.content {
			display: grid;
			grid-template-columns: 1fr 2fr;

			@media (max-width: 927px) {
				grid-template-columns: 1fr;
				padding: 1em;
			}

			a {
				color: $grey;
				text-decoration: underline;
			}

			// .right {
			// 	flex: 0.2;
			// 	overflow: hidden;
			// 	justify-content: center;
			// 	display: flex;
			// 	margin-top: -25px;
			// }

			.right {
				overflow: hidden;
				display: grid;
				align-items: center;

				img {
					margin: 2em;
					width: calc(100% - 4em);
					max-width: 500px;

					@media (max-width: 927px) {
						margin: 0 auto;
					}
				}
			}

			.left {
				.captain-title {
					font-size: 3rem;
					color: $orange;
					padding-bottom: 5px;
				}

				.role-title {
					color: $grey;
				}

				.about-leader {
					color: $grey;
				}

				.modal-popup .learn-button {
					padding: 5px 10px;
					background: #00243e;
					border: 1px solid #02243e;
					border-radius: 5px;
					color: #fff;

					&:hover {
						background-color: $offblue;
						border: 1px solid $orange;
						color: $offwhite;
						cursor: pointer;
						transition: 0.3s ease;
					}
				}
			}

			// .image-circle {
			// 	border: 1px solid $orange;
			// 	border-radius: 25%;
			// 	height: 30vh;
			// 	width: 30vh;
			// 	object-fit: contain !important;
			// 	background-color: white;
			// }
		}
	}

	.close-button {
		padding: 0px 0px;
		background: #fff;
		border: none;
		border-radius: 5px;
		color: black;
		float: right;
		font-weight: lighter;

		:hover {
			font-weight: bold;
			color: #fe5000;
			transition: 0.3s ease;
		}
	}

	.gray-part .role-title {
		color: #ffffff !important;
	}

	.wrapper {
		width: 100%;
		height: 100%;
		padding-left: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h1 {
			font-size: 65px;
			margin: 10px 0;
			color: white;
			position: relative;

			.frc2338-title {
				display: inline-block;

				@media (max-width: 927px) {
					margin-bottom: 0;
				}
			}
		}

		h2 {
			font-size: 40px;
			color: #fe5000;
			position: relative;
		}

		h3 {
			font-size: 30px;
			color: #fe5000;
			position: relative;
			margin: 10px;

			span {
				margin-top: 10px;
				color: white;
			}
		}
	}

	.sub-paragraph {
		color: #fff;
		margin-bottom: 1em;
		font-size: 2.5vh;
		margin-right: 3vw;
	}

	.a {
		position: absolute;
		bottom: 270px;
		font-size: large;
		scale: (2);
		right: 45vw;
		color: black;

		.img {
			animation: arrowBlink 2s infinite;
		}

		@keyframes arrowBlink {
			from {
				opacity: 0;
				transform: translateY(-5px);
			}
			to {
				opacity: 1;
				transform: translateY(5px);
			}
		}
	}

	.intro-section {
		height: 20vh !important;
		margin-bottom: 0;

		@media (max-width: 927px) {
			margin-bottom: 50vh;
		}

		.content {
			.left {
				flex: 0.6 1;
				overflow: hidden;
				justify-content: center;
				display: flex;
				margin-top: $introSectionPadding;
			}

			.right {
				margin-left: 3rem;
			}
		}
	}
}
