@import "./globals";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.App {
	transition: background-color 100ms ease;
	background-color: $blue;
}

// .tablet-screen-message {
//     display: none;
//     color: $offBlack;
//
