@import "./globals";

* {
	box-sizing: border-box;
}

head,
body,
#root,
.App {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	width: fit-content;
	max-width: 100%;
	min-width: 100%;
}

.App {
	transition: background-color 100ms ease;
	background-color: $blue;
}

// .tablet-screen-message {
//     display: none;
//     color: $offBlack;
//
