$grey: #babfb7;
$orange: #fe5000;
$offorange: #ff6f00;
$blue: #00243e;
$offblue: #02355b;
$offwhite: #faf9f6;
$owHighlight: #ffffff;
$tHighlight: #f2f2f2;
$offBlack: #1d1c1b;
$introSectionPadding: 150px;

.video-container {
	display: block;
	@media (max-width: 927px) {
		display: none;
	}
}

.frc2338-title {
	font-weight: 300;
	color: $orange;
}
.border {
	margin-top: 4rem;
	border-bottom: 0.5px solid #04416fad;
	// width: 80%;
	margin-left: 14rem;
}
